.table{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}



.cons{
    display: flex;
    text-align: center;
    width: 50%;
    flex-direction: column;  
    border-left: 1px solid black; 

}

.pros{
    display: flex;
    text-align: center;
    width: 50%;
    flex-direction: column;   
    border-right: 1px solid black; 

}

.title{
    border-bottom: 1px solid black;
}

.rows{
    margin-top: 5px;
}

.footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button{
    text-transform: capitalize !important;
    color: black !important;
    border: 1px solid red !important;
}

input:focus{
    background: aliceblue !important;
}

